.App {
  text-align: center;
}

.header {
  background-color: white;
  align-items: center;
  height: 100px;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  color: grey;
  display: flex;
}

.img {  
  max-height:100%; 
  max-width:100%;  
  }  
