.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: white;
  align-items: center;
  height: 100px;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  color: dimgray;
  display: flex;
}

.img {  
  max-height:100%; 
  max-width:100%;  
  }  

.App-header {
  background-color: #E8E6D9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
